#overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 12;
}

.overlay__wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
	width: 100%;
	max-width: 35rem;
}

.overlay__wrapper__video-container{
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}
.overlay__wrapper__video-container::after{
    content: "X";
    display: block;
    font-weight: bold;
    font-size: 1rem;
    color: #FFF;
    padding: .5rem;
    position: absolute;
    top: -2.5rem;
    right: 1rem;
    border: 1px solid #CCC;
    pointer-events: none;
}

.overlay__wrapper__video-container__video{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@media (min-width: 37.5625rem) {
	.overlay__wrapper__video-container::after{
		right: 0;
	}
}

@media screen and (min-width: 48rem) {   
    .overlay__wrapper{
        width: 80vw;
    }
}

@media (min-width: 70rem){
	.overlay__wrapper{
		max-width: 56.25rem;
	}
}