@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
* { box-sizing: border-box; }
html body, body .container{
    background: #000;
}

body,html{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
}

body.no-scroll{
    overflow: hidden;
}

body .container{
    padding: 1rem 0 0 0;
}

*{
    box-sizing: border-box;
}

.below1{ margin-bottom: 1rem; }
.below2{ margin-bottom: 2rem; }

.main-filters{
   color: #FFF;
}
.sub-header{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

#main-filter{
    padding: 1.6rem;
}

.space-right-1{
    padding-right: 1rem;
}

.centered{
    text-align: center;
}
.space-below{
    margin-bottom: 1rem;
}

.filter{
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    text-align: center;
}

.film-times{
    margin-bottom: 1rem;
    position: relative;
    border: 0;
    outline: none;
    cursor: pointer;
    padding-left: 0.5rem;
}

.film-times::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    border: 1px solid #737373;
}

.film-times:checked::before{
    content: '';
    background: #FF0;
    color: #FFF;
    text-align: center;
}

.film-times + label{
    padding-left: 0.5rem;
    cursor: pointer;
}

#genres{
    position: relative;
    padding: 2rem 0 0;
}

#genres-list, #results{
    text-align: center;
}

#genres-list p{
    text-align: center;
}

#results{
    background: #000;
    color:#FFF;
    padding: 0;
    border-top: 1px solid #FFF;
    border-bottom: 0;
    z-index: 11;
}

#search-labels{
    background: #CCC;
    padding: 0.5rem;
}

.search-labels__content{
    margin-bottom: 0;
}

.search-labels__content__intro{
    display: block;
    text-align: center;
}

.search-labels__tag{
    display: inline-block;
    padding: 0.25rem;
    background: #FFF;
    border-radius: 0.5rem;
    margin: 0.25rem;
    border: 1px solid rgba(0,0,0,.4);

    position: relative;
}

.search-labels__tag--interactive:hover{
    cursor: pointer;
    background: #000;
    color: #FFF;
    
}

.film-results strong{
    color: #FF0;
}

.film-results::after{
    content: '\27A4';
    display: inline-block;
    padding-left: 0.5rem;
    color: #F00;
}

.film-results.return::after{
    content: '\27A4';
    transform: scaleX(-1);
    display: inline-block;
    padding-left: 0.5rem;
    color: #F00;
}

.col-md-4 > p{
    font-size: 1.6rem;
    line-height: 120%;
    margin: 0.5rem 0;
}

.genre-selector,.decade-selector{
    padding: 1rem;
    display: inline-block;
}

.genre-selector {
    text-align: center;
    width: 33.33%;
}

.decade-selector{
    width: 15%;
}

.genre-items{
    width: 100%;
    display: block;
    text-align: center;
}

.decade-selector{
    width: 8%;
}

.genre-selector label{
    text-transform: capitalize;
}

#films{	
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#films li { 
    border: 1px solid #CCC;
    display: inline-block;
    width: 100%;
    padding: 1.6rem 1.6rem 2rem;
}	

#films li:hover {
    background: linear-gradient(135deg, rgba(219,219,219,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.film-genre{
    text-transform: capitalize;
}

.trailer iframe{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.card.film-card{
    color: #FFF;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
}

.card-text{
    margin-bottom: 0;
    line-height: 1.4;
}
.card-text:last-of-type{
    margin-bottom: 1rem;
}

.card-text__category{
    font-weight: bold;
}

.film-runtime{
    padding-bottom: 1.6rem;
}

#results p{
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn.btn-filter{
    background: #CCC;
    color: #000;
    width: calc(33.33% - 0.5rem);
    margin-right: 0.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn.btn-filter:hover, .btn.btn-filter:focus{
    background: #000;
    color: #CCC;
    border-bottom-color: #000;
}

@media screen and (min-width: 30rem) {
    .genre-selector{
        width: 33.33%;
    }

    #films li{
        display: flex;
        flex-flow: column nowrap;
        width: 50%;
    }
}

@media screen and (max-width: 47.9375rem) {
    #results{
        position: fixed;
        bottom: 0;
        width: 100vw;
        left: 0;
    }
}

@media screen and (min-width: 48rem) {   
    #results{
        border-top: 0;
    }
    body .container{
        padding-top: 2rem;
    }

    .sub-header{
        text-align: left;
    }

    .search-box__container{
        width: initial;
        float: right;
    }

    .search-labels__content__intro{
        display: inline-block;
        text-align: left;
    }

    .search-labels__tag{
        margin: 0 0.25rem;
    }
    
    .film-results::after, .film-results.return::after{
        display: none;
    }

    .row{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    #results span{
        font-size: 1rem;
    }

    .row.product-list{
        background: #000;
        margin: 0 -0.9375rem;
    }

    #films li { 
        border: 1px solid #CCC;
        display: inline-block;
        width: 33.33%;
        padding: 1.6rem 1.6rem 2rem;
    }	
    .genre-selector{
        width: 15%;
    }
}

@media screen and (min-width: 70rem) {
    .container, #films { 
        width: 90rem;
        margin: 0 auto;
    }
}