.runtime-filter{
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    margin: 0.5rem 0;
    width: calc(50% - 0.5rem);
    text-align: left;
}

.runtime-filter:nth-child(odd){
    margin-left: 0.5rem;
    margin-right: 0;
}

.runtime-filter:last-child{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.5rem;
    width: 100%;
}

@media screen and (min-width: 30rem) {
    .runtime-filter{
        text-align: center;
    }
}

@media screen and (min-width: 48rem) {   
    .runtime-filter{
        width: calc(25% - 0.5rem);
    }
    .runtime-filter:last-child{
        width: 100%;
    }
}

@media screen and (min-width: 64rem) {
    .runtime-filter, .runtime-filter:last-child{
        width: calc(20% - 0.5rem);
    }
}